# MongoDB
MONGO_URI=
DB_NAME=game_telemetry
COLLECTION_NAME=raw_events
# Paths
BRONZE_PATH=data/bronze_parquet
SILVER_PATH=data/silver_parquet
# MySQL
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DB=game_gold
MYSQL_USER=
MYSQL_PASSWORD=